@import "tailwindcss";


body {
  background: #ededed;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}


* {
  scrollbar-width: thin;              /* "auto" or "thin" */
  scrollbar-color: oklch(70.7% 0.165 254.624) #ffffff;      /* thumb color and track color */
}